@import '../variables.scss';

#img-show-contain{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include centering;

    img {
        width: 400px;
        height: 300px;
    }
}